project="ABCD"
batch="release_3.0_QCed"
v="ABCDv3_DEAP"
base_project="cognitive"
#------------------------------#
pheno="reading" # name for dv
atlas="destrieux" # atlas for ROIs
trim_val=0.02


#------------------------------#
## define subset
#------------------------------#
# ALL
#s="all"
#s="all_unrelated"
#pc_file="ABCD_release_3.0_QCed.pop_strat.pca.evec"
#------------------------------#
# EUR
# s="eur6sd"
s="eur6sd_unrelated" # subset to analyze
pc_file="ABCD_release_3.0_QCed_EUR_6sd.pop_strat_outliers.pca.evec" #
#------------------------------#